<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>

    <footer
        style="background: #000 !important; color: white !important; padding: 20px 0 !important; text-align: center !important; margin-top:20px;">
        <div
            style="display: flex !important; justify-content: center !important; max-width: 1200px !important; margin: 0 auto !important; padding: 20px !important; flex-wrap: wrap !important;">

            <section style="flex: 1 !important; min-width: 250px !important; margin: 10px !important;"
                class="unique-company-info">
                <img style="height: 100px !important; width:auto !important; margin-bottom: 10px !important;"
                    src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjqsAgbfv4CUL169NMyhA7PxI66svnOmE1lm_FtLrv9e2tyz8EYoyM4ZkCXnsB7lRfCC4RFzL4z92kEi-JoP9G6QN7Xbjrh6xiDp4xjebq6KPVzsF2Kh3HRr2dXJ4tGFIpXcgFenG7tP8iVbeH_aH1ojKs7GyVA8JrqwVOYt9PmbCxK9m0Awxe3onwv0gc/s2194/Asset%207@4x.png"
                    alt="NI Realty Logo" class="unique-company-logo">
                <p style="margin: 10px 0 !important;">NI Group is a premier property developer specializing in
                    innovative residential, commercial, and mixed-use projects. We combine expert planning with a
                    commitment to sustainability, delivering high-quality developments that enhance communities and meet
                    client needs.</p>
                <section style="margin: 10px 0 !important;">
                    <div
                        style="margin: 10px 0 !important; display: flex; align-items: center; justify-content: center;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-432TiQYC0uBfJf4dBsNuzL8KKAm1yYD-8WN23pjZtIRL_IN7ZAdz7e6RUuAOuSCog_8&usqp=CAU"
                            alt="Email" style="width: 20px !important; margin-right: 10px !important;">
                        <span>info@nigroup.org.in</span>
                    </div>
                    <div
                        style="margin: 10px 0 !important; display: flex; align-items: center; justify-content: center;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxyN9wrL4Y8f9aahtKoFZcLqIIjKrBDS45ew&s"
                            alt="Phone" style="width: 20px !important; margin-right: 10px !important;">
                        <span>8100118686</span>
                    </div>
                </section>

                <div style="margin: 10px 0 !important;">
                    <div style="margin: 10px 0 !important; text-align: center;">
                        <strong>Follow us</strong>
                    </div>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/facebook-app-round-white-icon.png"
                            alt="Facebook" style="width: 20px !important; margin-right: 5px !important;">
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/instagram-white-icon.png"
                            alt="Instagram" style="width: 20px !important; margin-right: 5px !important;">
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZE04GAOT6LgF5lVla1uWH3ayJ8zGBKlIE1A&s"
                            alt="Twitter" style="width: 20px !important; margin-right: 5px !important;">
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="https://i.pinimg.com/736x/39/a5/ae/39a5ae84afcd8cd690f37e65f7d94798.jpg"
                            alt="LinkedIn" style="width: 35px !important;">
                    </a>
                    <a href="https://www.youtube.com/@nigroupkolkata" target="_blank">
                        <img src="https://i.pinimg.com/originals/ca/b3/f7/cab3f73c880152156a88d2d6acc747d3.png"
                            alt="YouTube" style="width: 25px !important; margin-right: 5px !important;">
                    </a>
                </div>
                

            </section>

            <section style="flex: 1 !important; min-width: 250px !important; margin: 10px !important;"
                class="unique-quick-links">
                <h3
                    style="color: #ffffff !important; border-bottom: 1px solid white !important; padding-bottom: 10px !important; margin-bottom: 10px !important;">
                    QUICK LINKS</h3>
                <article style="margin: 5px 0 !important;"><a href="/about"
                        style="color: white !important; text-decoration: none !important;">About us</a></article>
                <article style="margin: 5px 0 !important;">Our Projects</article>
                <article style="margin: 5px 0 !important;">Careers</article>
                <article style="margin: 5px 0 !important;">Privacy Policy</article>
                <article style="margin: 5px 0 !important;">Terms & Condition</article>
                <article style="margin: 5px 0 !important;"><a href="/contact"
                        style="color: white !important; text-decoration: none !important;">Contact us</a></article>
                <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                    <p style="margin: 10px 0 !important; text-align: center;">
                        Ground Floor, New Sunrise Apartment Swami Vivekananda Road, Hatiara Mathopara P.O.Hatiara
                        PS.Ecopark Kolkata-700157
                    </p>
                </div>

            </section>

            <section style="flex: 1 !important; min-width: 250px !important; margin: 10px !important;"
                class="unique-properties">
                <h3
                    style="color: #ffffff !important; border-bottom: 1px solid white !important; padding-bottom: 10px !important; margin-bottom: 10px !important;">
                    PROPERTIES IN KOLKATA</h3>
                <article style="margin: 5px 0 !important;">Property in Alipore</article>
                <article style="margin: 5px 0 !important;">Property in Birati</article>
                <article style="margin: 5px 0 !important;">Property in Howrah</article>
                <article style="margin: 5px 0 !important;">Property in Lake Town</article>
                <article style="margin: 5px 0 !important;">Property in New Town</article>
                <article style="margin: 5px 0 !important;">Property in Serampore</article>
                <article style="margin: 5px 0 !important;">Property in Bablatala</article>
                <article style="margin: 5px 0 !important;">Property in Bishnupur</article>
                <article style="margin: 5px 0 !important;">Property in Jessore Road</article>
                <article style="margin: 5px 0 !important;">Property in Machuabazar</article>
                <article style="margin: 5px 0 !important;">Property in New Town Action Area-I</article>
                <article style="margin: 5px 0 !important;">Property in Shyam Nagar</article>
                <article style="margin: 5px 0 !important;">Property in Baguihati</article>
                <article style="margin: 5px 0 !important;">Property in BT Road</article>
                <article style="margin: 5px 0 !important;">Property in Joka</article>
                <article style="margin: 5px 0 !important;">Property in Madhyamgram</article>
                <article style="margin: 5px 0 !important;">Property in Park Circus</article>
                <article style="margin: 5px 0 !important;">Property in Sodepur</article>
            </section>
        </div>
        <hr style="border: 1px solid white !important;">
        <p style="text-align: center !important; margin: 10px 0 !important;">Copyright © 2024 NI Group. All rights
            reserved.</p>
    </footer>
</body>

</html>