<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.heading %></title>
</head>
<body>
    <h1><%= blog.heading %></h1>
    <img src="<%= blog.image %>" alt="Blog Image" style="max-width: 600px;">
    <p><%= blog.about %></p>
    <a href="/">Back to Blog List</a>
</body>
</html>
